/*---------------------Banner Inicio ------------------------------*/
/*Configuracion del banner animado con HTML y CSS automatico (Slider)*/
.banner_slider{
    width: 100%;
    /*margin: auto;*/
    overflow: hidden;
}

.banner_slider ul{
    padding: 0;
    display: flex;
    width: 400%;
    /*Configuramos la animacion dentro del ul*/
    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    /*Fin de configuracion de la animacion*/
}

.banner_slider li{
    list-style: none;
    width: 100%;
}

.banner_slider img{
    width: 100%;
}

/*Configuracion de las paradas de cambio con los @keyframes*/
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
/*Fin de la configuracion de las paradas*/
/*Fin de la configuracion del banner animado*/
/*---------------------Banner Fin ------------------------------*/

/*--------------------- Servicios Inicio ------------------------------*/
/*Configuracion de servicios*/
.servicios{
    /*background-color: brown;*/
    padding: 0px 10%;
    overflow: hidden;
    margin-top: 0.5em;
    
}

.servicios ul{
    padding: 0;
    display: flex;
    width: 100%;
    /*-color: aqua;*/
    margin: auto;

}

.servicios li{
    list-style: none;
    width: 100%;
    text-align: center;
    background-color:#eceff1;
    margin: 0.5em;
    border-radius: 5%;
}

.servicios img{
    margin-top: 0.5em;
    width: 25%;
}

.servicios h3{
    font-size: 1rem;
    margin: 0.2em auto;
}

.servicios p{
    font-size: 0.8rem;
    margin-bottom: 0.9em;
}
/*Fin de configuracion de servicios*/
/*--------------------- Servicios Fin ------------------------------*/

/*--------------- Ofertas y Novedades Inicio -----------------------*/
/*Configuracion de ofertas*/
.productos{
    background-color: lightgoldenrodyellow;
    padding: 0px 10%;
    overflow: hidden;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.productos .titulo{
    font-size: 1.5em;
    color: rgb(97, 96, 96);
    padding: 10px 2.5%;
}

.productos .items{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}


.productos .items li{
    list-style: none;
    width: 25%;
    text-align: center;
    background-color: #eceff1;
    margin: 0.5em 0.5em 1em 0.5em;
    border-radius: 5%;
    
}

.productos .items li:hover{
    transform: scale(1.1);
    background-color:#ffca4494; 
}

.productos .items img{
    width: 80%;
    margin-top: 0.5em;
}

.productos .items h3{
    font-size: 1rem;
    color: darkgreen;
}


.productos .items h2{
    font-size: 1.5rem;
    color: red;
    margin: 0.5em auto;
}


.productos .items p{
    font-size: 0.7rem;
    margin-bottom: 0.5em;
}
/*Fin de configuracion de ofertas*/
/*------------------- Ofertas y Novedades Fin --------------------------*/


/*--------------------- Responsive Inicio ------------------------------*/

/*Configuracion responsive*/
/*Tablet o monitores viejos*/
@media only screen and (max-width: 900px){
    .servicios img{
        width: 35%;
    }

    .productos .items{
        flex-wrap: wrap;
        justify-content: center;
    }

    .productos .items li{
        width: 30%;        
    }
}


/*Tablet chicas*/
@media only screen and (max-width: 800px){

    .productos .items li{
        width: 35%; 
    }
}


/*Celulares Grandes*/
@media only screen and (max-width: 520px){
    .servicios img{
        width: 45%;
    }

    .productos .items li{
        width: 80%; 
    }

}

/*Celulares Chicos*/
@media only screen and (max-width: 345px){
    .servicios ul{
        display: block;
    }

    .servicios img{
        width: 30%;
    }

    .servicios p{
        padding-bottom: 0.9em;
    }

}

/*Fin de configuracion responsive*/
/*--------------------- Responsive Inicio ------------------------------*/